<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_recipe.description %>
</p>

<%= link_to 'Edit', edit_user_recipe_path(@user_recipe) %> |
<%= link_to 'Back', user_recipes_path %>
